svg {
  width: 100%;
}

svg .provincia {
  fill: #cff4fc;
  cursor: pointer;
  stroke-width: 0.25px;
  transition: fill 0.3s ease;
}
svg .provincia:hover {
  fill: #0dcaf0;
}

.table-hover > tbody > tr:hover {
  --bs-table-hover-bg: #e0f7fa; /* Un azul muy claro que combina con border-info */
  /* --bs-table-hover-color: #000; Opcional: cambia el color del texto si es necesario */
}
