{% extends 'tiempo/base.html' %} {% load static %} {% block title %}
<title>{{ provincia|upper }}</title>
{% endblock %} {% block content %}
<h1 class="h2 text-center my-4">
  PREDICCIÓN PRÓXIMOS 7 DÍAS EN {{ provincia|upper }}
</h1>
<nav aria-label="Navegacion de paginas">
  <ul class="pagination justify-content-center">
    {% if datos.has_previous %}
    <li class="page-item">
      <a class="page-link text-black" href="?page=1">&laquo; Primero</a>
    </li>
    <li class="page-item">
      <a
        class="page-link text-black"
        href="?page={{ datos.previous_page_number }}"
        >Anterior</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">&laquo; Primero</span>
    </li>
    <li class="page-item disabled"><span class="page-link">Anterior</span></li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link bg-info-subtle text-black border-info">
        Día {{ datos.number }} de {{ datos.paginator.num_pages }}
      </span>
    </li>

    {% if datos.has_next %}
    <li class="page-item">
      <a class="page-link text-black" href="?page={{ datos.next_page_number }}"
        >Siguiente</a
      >
    </li>
    <li class="page-item">
      <a
        class="page-link text-black"
        href="?page={{ datos.paginator.num_pages }}"
        >Último &raquo;</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Siguiente</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">Último &raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>
<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered border-info">
    <thead>
      <tr class="table-info">
        <th scope="col">Fecha y Hora</th>
        <th scope="col">Estado</th>
        <th scope="col">Predicción del modelo</th>
        <th scope="col">Temperatura (°C)</th>
        <th scope="col">Humedad (%)</th>
        <th scope="col">Sensación térmica (°C)</th>
        <th scope="col">Precipitación (mm)</th>
      </tr>
    </thead>
    <tbody class="table-light">
      {% for fila in datos %}
      <tr>
        <th scope="row">{{ fila.date }}</th>
        <td>
          <img
            src="{% static fila.icon %}"
            alt="{{ fila.summary }}"
            width="30"
            height="30"
          />
          {{ fila.summary }}
        </td>
        <td
          class="{% if fila.prediccion_modelo == fila.summary %}text-success{% else %}text-danger{% endif %}"
        >
          {{ fila.prediccion_modelo }}
        </td>
        <td>{{ fila.temperature }}</td>
        <td>{{ fila.humidity }}</td>
        <td>{{ fila.apparent_temp }}</td>
        <td>{{ fila.precip_mm }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No hay datos disponibles en el CSV.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
